@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="text-center content">
        <h2>Seja bem vindo ao English Now   </h2>
        <p>É uma plataforma online para ver boletim</p>
    </div>
</main>
